
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="margin-top: 20px"><b>About Us</b></h3>

<h4>Asstha does not just sell lifestyle products, Asstha is here to become a lifestyle!</h4>


<h4>
    Be it simple, casual, or trendy, unique or traditional, Asstha presents you all. We provide a various amount jewelleryAnd other products of women. We believe life is not made up of days but each day is a realm of life, where every second is a different color and every color represents Asstha!
    Our prime focus is the youth, referred colloquially as the “Asstha generation” and we are here to be a part of their lives, not just by selling the brands which rest under their hood but also by writing a part of their daily life stories.
</h4>
<h4>
    We present a one-stop lifestyle platform, holding products of various local and international brands together. The different deals offered the whole year-round, let buyers get the best products at the lowest prices and the sellers promote and build their brands big.


</h4>
<h4> We are able to deliver the quality product of your choice to you in a very short time. So one thing we can say is trust.</h4>
<h4>
    We collect our product from trusted sources that's why we can tell our products are most quality full from others. We provide warranty to our all jewellery products. Warranty validate for only you can colour your products or not. For recolouring condition apply.NB: Due to the camera or your display, there may be a slight difference in the picture with jewellery products. Besides, when the product is not in stock, we get a slight difference in order to make the products.
</h4>

<h4>
    <b>
        ***We are able to deliver the quality product of your choice to you in a very short time. So one thing we can say is trust. Thanks All.
    </b>
</h4>
