@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 >@ViewData["Title"]</h2>
<style>

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }
</style>

<h3><a href="https://www.asstha.com/" class="fa fa-phone-square" style="font-size:36px"></a> 01636311010 (10 AM – 10 PM)</h3>
<h3><a href="https://www.gmail.com/" class="fa fa-envelope" style="font-size:36px;"></a>  assthabd@gmail.com</h3>
<h3><a href="https://www.facebook.com/asstha24" class="fa fa-facebook-square" style="font-size:36px;"></a> https://www.facebook.com/asstha24</h3>
<h3><a href="https://www.instagram.com/asstha_easy_shopping_bd/" class="fa fa-instagram" style="font-size:36px"></a> https://www.instagram.com/asstha_easy_shopping_bd/</h3>
<h3><a href="https://www.pinterest.com/assthabd/_saved/" class="fa fa-pinterest-square" style="font-size:36px"></a> https://www.pinterest.com/assthabd/_saved/</h3>







